<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CollectionViewEditing</key>
		<dict>
			<key>testAdjustPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0093119</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>IndexedSetTests</key>
		<dict>
			<key>testDiplicatePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.045958</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testInitPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.033732</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.026509</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
		</dict>
		<key>MRCObjectTests</key>
		<dict>
			<key>testHugeInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.45194</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testLargeInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19819</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testMediumInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.072079</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSmallInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039102</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
		</dict>
		<key>MRCTests</key>
		<dict>
			<key>testPerformance_withSections_sorted()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.158</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>MRCValueTests</key>
		<dict>
			<key>testPerformance_withSections_sorted()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12404</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
		</dict>
		<key>OrderedSetTests</key>
		<dict>
			<key>testAddPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022941</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_arrayControl()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0017227</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_basic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0792</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_provider()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10412</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_unsafeBasic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055914</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_unsafeProvider()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.053943</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testArraySort()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26659</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testDirectAccessor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.001566</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testInitPerformance_provider()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.059936</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testInitPerformance_unsafeArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042924</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testInitializationPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016688</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.55</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testIterate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0077203</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testIterateArrary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00816</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testKeyPath()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0080009</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testRemoveFromEndPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0019441</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testRemoveFromMiddlePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0049355</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_sortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28932</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_sortDescriptors_presorted()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.42725</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortPerformance_sortDescriptors_uniquePreordered()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_withComparator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.02246</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_withKeyPaths()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26157</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_withNSSortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0058539</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortWithNSSortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.47916</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortWithoutDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.323</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortedPerformance_multipleSortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.32519</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testSortedPerformance_sortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.27714</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017097</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jun 13, 2018 at 3:43:24 AM</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_copy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.51239</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_inPlace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_multiple()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.41602</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_reverseCopy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.415</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
