<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CollectionViewEditing</key>
		<dict>
			<key>testAdjustPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0093119</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>IndexedSetTests</key>
		<dict>
			<key>testDiplicatePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039011</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testInitPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.040132</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.028827</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
		</dict>
		<key>MRCObjectTests</key>
		<dict>
			<key>testHugeInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.41591</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testLargeInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.18909</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testMediumInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.067109</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testSmallInsertPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.039073</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
		</dict>
		<key>MRCTests</key>
		<dict>
			<key>testPerformance_withSections_sorted()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.158</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>MRCValueTests</key>
		<dict>
			<key>testPerformance_withSections_sorted()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.19149</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
		</dict>
		<key>OrderedSetTests</key>
		<dict>
			<key>testAddPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0291</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testAppendPerformance_arrayControl()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0026202</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_basic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.07712</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_provider()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.097285</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_unsafeBasic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.057547</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testAppendPerformance_unsafeProvider()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.050585</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testArraySort()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25465</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testDirectAccessor()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.001566</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testInitPerformance_provider()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.055087</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testInitPerformance_unsafeArray()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.038367</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:50:04 AM</string>
				</dict>
			</dict>
			<key>testInitializationPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016343</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testIterate()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0042768</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testIterateArrary()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00816</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testKeyPath()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0080009</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testRemoveFromEndPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00152</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testRemoveFromMiddlePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00395</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortPerformance_sortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.29425</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_sortDescriptors_presorted()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.42725</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortPerformance_sortDescriptors_uniquePreordered()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.117</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortPerformance_withComparator()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.021397</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_withKeyPaths()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25444</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testSortPerformance_withNSSortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0049717</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testSortWithNSSortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.47916</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortWithoutDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.323</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testSortedPerformance_multipleSortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.2892</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testSortedPerformance_sortDescriptors()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.26315</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testUnionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016061</real>
					<key>baselineIntegrationDisplayName</key>
					<string>May 8, 2018 at 11:49:00 AM</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_copy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.51239</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_inPlace()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.46</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_multiple()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.41602</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>testValueSortDescriptorPerformance_reverseCopy()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.415</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
